/* remove default margin and padding from body */
body {
  padding: 0;
  margin: 0;
}

/* set map, body, and html to a percent of the screen size */
#map,
body,
html {
  height: 100%;
  width: 100%;
}

/* set font options*/

body {
  font-family: "Avenir", "Verdana", "Trebuchet MS", "Tahoma", sans-serif;
  text-decoration: none;
}

h1 {
  text-align: center;
  vertical-align: bottom;
  font: 20px;
  letter-spacing: 1.5px;
  text-shadow: 3px 3px 10px gray;
}

h2 {
  text-align: left;
  font: 17px;
}

h3 {
  text-align: left;
  font: 14px;
}

h4 {
  text-align: left;
  font: 11px;
}

p {
  text-align: left;
  font: 9px;
  word-spacing: .5px;
}
